.heroine__container {
  padding-top: 5px;


  &-title {
    padding: 5px;
    text-align: start;
    font-size: 1.5rem;
    padding-left: 25px;

  }

  .heroine__container-films {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: -90px;
    margin-top: -105px;
    width: auto;



    .heroine__film {
      align-items: center;
      display: flex;
      width: auto;

      &-img {
        width: 170px;
        margin-top: 5px;
      }

      &-number {
        color: black;

        font-size: 304px;
        font-weight: bold;
        margin-right: -59px;
        -webkit-text-stroke: 6px rgb(113, 112, 112);
      }


    }
  }
}



@media screen and (max-width: 524px) {

  .heroine__container-films {
    align-items: center;
    display: flex;
    flex-direction: column;

  }
}
