.heroine__container {
  padding-top: 50px;


  &-title {
    text-align: start;
    padding: 5px;

  }

  .heroine__container-films {

    display: flex;
    justify-content: center;
    width: auto;



    .heroine__film {
      align-items: center;
      display: flex;
      width: auto;

      &-img {
        width: 250px;
      }

      &-number {
        font-size: 100px;
      }


    }
  }
}



@media screen and (max-width: 524px) {

  .heroine__container-films {
    align-items: center;
    display: flex;
    flex-direction: column;
    
  }
}
