.films__container {
    padding-top: 20px;
    &-title {
        text-align: start;
        padding: 5px;
        font-size: 1.5rem;
    
    }
    &-films {
        display: flex;
        justify-content: center;
        width: auto;
        gap:10px;
        .film-img {
            width: 250px;
            
        }
    }
}


@media screen and (max-width: 524px) {

    .films__container-films {
      align-items: center;
      display: flex;
      flex-direction: column;
      
    }
  }
  