.nav__container {
  // padding: 20px;
  // display: flex;
  // justify-content: space-between;
  .nav__logue {
    padding: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
 

  .nav__controls {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    .nav__controls-init, .nav__controls-cat {

      text-decoration: none;
      color: white;
      font-weight: bold;
    }

    .nav__controls-search {
      padding: 10px;
      border-radius: 5px;
      border: none;
      color: white;
      font-weight: bold;
      background-color: red;
      cursor: pointer;

      &:hover {

        opacity: 50%;
      }
    }


  }
}

@media screen and (min-width: 524px) {

  .nav__container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
