<div class="nav__container">

  <div class="nav__controls nav__logue">
    <img class="nav__logue-img" src="../../../assets/LOGO/logo2.png" alt="logue netflix">
    <a href="" class="nav__controls-home">Inicio</a>
    <a href="" class="nav__controls-tv">Series TV</a>
    <a href="" class="nav__controls-films">Películas</a>
    <a href="" class="nav__controls-new">Novedades más vistas</a>
    <a href="" class="nav__controls-mylist">Mi lista</a>

  </div>

  <button class="nav__controls-search">Buscar</button>
  
</div>
