.nav__container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  .nav__logue {
   
    // padding: 20px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    &-img {
      width: 150px;
    }
  }
 

  .nav__controls {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

    .nav__controls-new, .nav__controls-home, .nav__controls-tv, .nav__controls-films, .nav__controls-mylist {

      text-decoration: none;
      color: rgba(255, 255, 255, 0.722);
     
    }

   


  }
  .nav__controls-search {
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: red;
    cursor: pointer;
    width: 108px;
    height: 45px;

    &:hover {

      opacity: 50%;
    }
  }
}

@media screen and (min-width: 524px) {

  .nav__container {
    display: flex;
    gap: 15px;
    // justify-content: space-between;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
